# Main
MODULE_NAME='urlx'
DEBUG='ndk:*,urlx:*'

# Express HTTP Server
PORT=3001

# Nostr settings
NOSTR_PRIVATE_KEY="YOUR_NOSTR_PRIVATE_KEY"
NOSTR_PUBLIC_KEY="The public key associated to the private key"
NOSTR_RELAYS="wss://relay.damus.io,wss://relay.hodl.ar,wss://nostr.wine,wss://offchain.pub,wss://nostr-pub.wellorder.net,wss://nos.lol"
LEDGER_PUBLIC_KEY=""
NOSTR_WRITE_RELAY=""

# LNBits settings
LNBITS_ADMIN_KEY=""
LNBITS_INVOICE_READ_KEY=""
LNBITS_ENDPOINT=""

# Lightning settings
NODE_PUBKEY=""

# LNURLp settings
LNURLP_URI=""

# Redis settings
REDIS_URI=""
